<table>
<tr>
<th colspan='2'>Arcana Unearthed</th>
</tr>
<tr>
<th>Before You Start</th>
<td>
{% for doc in site.arcana_unearthed %}
  {% if doc.category == "before-you-start" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Racial Traits</th>
<td>
{% for doc in site.arcana_unearthed %}
  {% if doc.category == "racial-traits" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
</table>

