<table>
<tr>
<th colspan='2'>Character Backgrounds</th>
</tr>
<tr>
<th>Standard Backgrounds</th>
<td>
<a href='Races#humans'>Humans</a> &bull;
<a href='Races#dwarves'>Dwarves</a> &bull;
<a href='Races#elves'>Elves</a> &bull;
<a href='Races#gnomes'>Gnomes</a> &bull;
<a href='MonstersG#goblins-as-characters'>Goblins</a> &bull;
<a href='Races#half-elves'>Half-elves</a> &bull;
<a href='Races#half-orcs'>Half-orcs</a> &bull;
<a href='Races#halflings'>Halflings</a> &bull;
<a href='MonstersK-L#kobold-characters'>Kobolds</a> &bull;
<a href='MonstersO-R#orcs-as-characters'>Orcs</a>
</td>
</tr>
<tr>
<th>The Five Main "Humanoid" Backgrounds</th>
<td>
<a href='MonstersO-R#orcs-as-characters'>Orcs</a> &bull;
<a href='MonstersG#goblins-as-characters'>Goblins</a> &bull;
<a href='MonstersK-L#kobold-characters'>Kobolds</a> &bull;
<a href='MonstersG#gnolls-as-characters'>Gnolls</a> &bull;
<a href='MonstersT-Z#trolls-as-characters'>Trolls</a>
</td>
</tr>
<tr>
<th>Exotic Backgrounds</th>
<td>
<a href='MonstersO-R#aasimar-as-characters'>Aasimar</a> &bull;
<a href='MonstersH-J#half-dragon'>Half-dragon</a> &bull;
<a href='MonstersG#jann-as-characters'>Janni</a> &bull;
<a href='MonstersO-R#tieflings-as-characters'>Tiefling</a>
</td>
</tr>
<tr>
<th>Giant Backgrounds</th>
<td>
<a href='MonstersG#hill-giants-as-characters'>Hill Giant</a> &bull;
<a href='MonstersG#stone-giants-as-characters'>Stone Giant</a> &bull;
<a href='MonstersO-R#ogres-as-characters'>Ogre</a> &bull;
{% for doc in site.character_backgrounds %}
  {% if doc.category == "giant-background" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Planetary Romance Backgrounds</th>
<td>
{% for doc in site.character_backgrounds %}
  {% if doc.category == "planetary-romance-background" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Legendary Forest Backgrounds I</th>
<td>
{% for doc in site.character_backgrounds %}
  {% if doc.category == "legendary-forest-background-i" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Legendary Forest of Titan</th>
<td>
{% for doc in site.character_backgrounds %}
  {% if doc.category == "legendary-forest-of-titan-background" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Other Backgrounds</th>
<td>
{% for doc in site.character_backgrounds %}
  {% if doc.category == "other-background" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
</table>
