<table>
<tr>
  <th colspan='2'>Character Backgrounds</th>
</tr>
<tr>
  <th>Arcana Unearthed</th>
  <td>{% include navdata.html dataset=site.data.arcana-unearthed-races %}</td></tr>
<tr>
  <th>Standard</th>
  <td>{% include navdata.html dataset=site.data.standard-backgrounds %}</td></tr>
<tr>
  <th>Standard +1</th>
  <td>{% include navdata.html dataset=site.data.standard-backgrounds-1 %}</td></tr>
<tr>
  <th>Interplanetary</th>
  <td>{% include navdata.html dataset=site.data.planetary-romance %}</td></tr>
<tr>
  <th>Magical Forest</th>
  <td>{% include navdata.html dataset=site.data.legendary-forest %}</td></tr>
<tr>
  <th>Monsters</th>
  <td>{% include navdata.html dataset=site.data.monsters-as-characters %}</td>
</tr>
<tr>
  <th>The Five Main Humanoid Species</th>
  <td>{% include navdata.html dataset=site.data.five-main-humanoids %}</td>
</tr>
</table>
