<table>
<tr>
  <th>Disease</th>
  <th>DC</th>
  <th>Damage</th>
</tr>
<tr>
  <td>Blinding sickness</td>
  <td>16</td>
  <td>1d4 Str1</td>
</tr>
<tr>
  <td>Cackle fever</td>
  <td>16</td>
  <td>1d6 Wis</td>
</tr>
<tr>
  <td>Filth fever</td>
  <td>12</td>
  <td>1d3 Dex and 1d3 Con</td>
</tr>
<tr>
  <td>Mindfire</td>
  <td>12</td>
  <td>1d4 Int</td>
</tr>
<tr>
  <td>Red ache</td>
  <td>15</td>
  <td>1d6 Str</td>
</tr>
<tr>
  <td>Shakes</td>
  <td>13</td>
  <td>1d8 Dex</td>
</tr>
<tr>
  <td>Slimy doom</td>
  <td>14</td>
  <td>1d4 Con</td>
</tr>
<tr>
  <td>1 Each time a victim takes 2 or more points of Strength damage from blinding sickness, he or she must make another Fortitude save (using the diseases save DC) or be permanently blinded.</td>
  <td></td>
  <td></td>
</tr>
</table>
