<table>
<tr>
<th colspan='2'>Modern System Reference doc</th>
</tr>
<tr>
<th>Modern Basics</th>
<td>
{% for doc in site.msrd %}
  {% if doc.category == "modern-basics" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Arcana</th>
<td>
{% for doc in site.msrd %}
  {% if doc.category == "arcana" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Future</th>
<td>
{% for doc in site.msrd %}
  {% if doc.category == "future" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Menaces</th>
<td>
{% for doc in site.msrd %}
  {% if doc.category == "menaces" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
</table>
