<table>
<tr>
<th colspan='2'>Modern System Reference Document</th>
</tr>
<tr>
<th>Modern Basics</th>
<td>
{% for document in site.msrd %}
  {% if document.category == "modern-basics" %}
    <a href="{{ document.url }}">{{ document.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Arcana</th>
<td>
{% for document in site.msrd %}
  {% if document.category == "arcana" %}
    <a href="{{ document.url }}">{{ document.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Future</th>
<td>
{% for document in site.msrd %}
  {% if document.category == "future" %}
    <a href="{{ document.url }}">{{ document.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Menaces</th>
<td>
{% for document in site.msrd %}
  {% if document.category == "menaces" %}
    <a href="{{ document.url }}">{{ document.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
</table>
