<table>
<tr>
<th colspan='2'>Modern System Reference Document</th>
</tr>
<tr>
  <th>Modern Basics</th>
  <td>
    {% assign items = site.msrd | where: 'category', 'Modern Basics' %}
    {% for item in items %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Arcana</th>
  <td>
    {% assign items = site.msrd | where: 'category', 'Arcana' %}
    {% for item in items %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Future</th>
  <td>
    {% assign items = site.msrd | where: 'category', 'Future' %}
    {% for item in items %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Menaces</th>
  <td>
    {% assign items = site.msrd | where: 'category', 'Menaces' %}
    {% for item in items %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
</table>
