<table>
<tr>
<th colspan='2'>Modern System Reference Document</th>
</tr>
<tr>
  <th>Modern Basics</th>
  <td>
    {% for item in site.modern_basics %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Arcana</th>
  <td>
    {% for item in site.arcana %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Future</th>
  <td>
    {% for item in site.future %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Menaces</th>
  <td>
    {% for item in site.menaces %}
      {% if item.url == page.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
</table>
