<table>
<tr>
  <th>Plane Contacted</th>
  <th>Avoid Int/Cha Decrease</th>
  <th>True Answer</th>
  <th>Don't Know</th>
  <th>Lie</th>
  <th>Random Answer</th>
</tr>
<tr>
  <td>Elemental Plane</td>
  <td>DC 7/1 week</td>
  <td>01–34</td>
  <td>35–62</td>
  <td>63–83</td>
  <td>84–100</td>
</tr>
<tr>
  <td>(appropriate)</td>
  <td>(DC 7/1 week)</td>
  <td>(01–68)</td>
  <td>(69–75)</td>
  <td>(76–98)</td>
  <td>(99–100)</td>
</tr>
<tr>
  <td>Positive/Negative Energy Plane</td>
  <td>DC 8/1 week</td>
  <td>01–39</td>
  <td>40–65</td>
  <td>66–86</td>
  <td>87–100</td>
</tr>
<tr>
  <td>Astral Plane</td>
  <td>DC 9/1 week</td>
  <td>01–44</td>
  <td>45–67</td>
  <td>68–88</td>
  <td>89–100</td>
</tr>
<tr>
  <td>Outer Plane, demideity</td>
  <td>DC 10/2 weeks</td>
  <td>01–49</td>
  <td>50–70</td>
  <td>71–91</td>
  <td>92–100</td>
</tr>
<tr>
  <td>Outer Plane, lesser deity</td>
  <td>DC 12/3 weeks</td>
  <td>01–60</td>
  <td>61–75</td>
  <td>76–95</td>
  <td>96–100</td>
</tr>
<tr>
  <td>Outer Plane, intermediate deity</td>
  <td>DC 14/4 weeks</td>
  <td>01–73</td>
  <td>74–81</td>
  <td>82–98</td>
  <td>99–100</td>
</tr>
<tr>
  <td>Outer Plane, greater deity</td>
  <td>DC 16/5 weeks</td>
  <td>01–88</td>
  <td>89–90</td>
  <td>91–99</td>
  <td>100</td>
</tr>
</table>
