<table>
<tr>
<th colspan='2'>System Reference Document</th>
</tr>
<tr>
<th>Basic Rules and Legal</th>
<td>
{% for doc in site.srd %}
  {% if doc.category == "srd-basic-rules-and-legal" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Spells</th>
<td>
{% for doc in site.srd %}
  {% if doc.category == "srd-spells" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Magic Items</th>
<td>
{% for doc in site.srd %}
  {% if doc.category == "srd-magic-items" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Monsters</th>
<td>
{% for doc in site.srd %}
  {% if doc.category == "srd-monsters" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Psionics</th>
<td>
{% for doc in site.srd %}
  {% if doc.category == "srd-psionics" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Epic</th>
<td>
{% for doc in site.srd %}
  {% if doc.category == "srd-epic" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
<tr>
<th>Divine</th>
<td>
{% for doc in site.srd %}
  {% if doc.category == "srd-divine" %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
    {% unless forloop.last %}&bull;{% endunless %}
  {% endif %}
{% endfor %}
</td>
</tr>
</table>
