<table role='navigation'>
<tr>
  <th colspan='2'>System Reference Document</th>
</tr>
<tr>
  <th>Basic Rules and Legal</th>
  <td>
    {% assign items = site.srd | where: 'category', 'Basic Rules and Legal' %}
    {% for item in items %}
      {% if item.url == page.url %}
        <strong>{{ item.title }}</strong>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Spells</th>
  <td>
    {% assign items = site.srd | where: 'category', 'Spells' %}
    {% for item in items %}
      {% if item.url == page.url %}
        <strong>{{ item.title }}</strong>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Magic Items</th>
  <td>
    {% assign items = site.srd | where: 'category', 'Magic Items' %}
    {% for item in items %}
      {% if item.url == page.url %}
        <strong>{{ item.title }}</strong>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Monsters</th>
  <td>
    {% assign items = site.srd | where: 'category', 'Monsters' %}
    {% for item in items %}
      {% if item.url == page.url %}
        <strong>{{ item.title }}</strong>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Psionics</th>
  <td>
    {% assign items = site.srd | where: 'category', 'Psionics' %}
    {% for item in items %}
      {% if item.url == page.url %}
        <strong>{{ item.title }}</strong>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Epic</th>
  <td>
    {% assign items = site.srd | where: 'category', 'Epic' %}
    {% for item in items %}
      {% if item.url == page.url %}
        <strong>{{ item.title }}</strong>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
<tr>
  <th>Divine</th>
  <td>
    {% assign items = site.srd | where: 'category', 'Divine' %}
    {% for item in items %}
      {% if item.url == page.url %}
        <strong>{{ item.title }}</strong>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% unless forloop.last %}&bull;{% endunless %}
    {% endfor %}
  </td>
</tr>
</table>
