<table>
  <thead>
    <tr>
      <th colspan=7>Table: The Arcane Trickster</th>
    </tr>
    <tr>
      <th>Level</th>
      <th>Base Attack Bonus</th>
      <th>Fort Save</th>
      <th>Ref Save</th>
      <th>Will Save</th>
      <th>Special</th>
      <th>Spells per Day</th>
    </tr>
    <tr>
      <td>1st</td>
      <td>+0</td>
      <td>+0</td>
      <td>+2</td>
      <td>+2</td>
      <td>Ranged legerdemain 1/day</td>
      <td>+1 level of existing class</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2nd</td>
      <td>+1</td>
      <td>+0</td>
      <td>+3</td>
      <td>+3</td>
      <td>Sneak attack +1d6</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>3rd</td>
      <td>+1</td>
      <td>+1</td>
      <td>+3</td>
      <td>+3</td>
      <td>Impromptu sneak attack 1/day</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>4th</td>
      <td>+2</td>
      <td>+1</td>
      <td>+4</td>
      <td>+4</td>
      <td>Sneak attack +2d6</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>5th</td>
      <td>+2</td>
      <td>+1</td>
      <td>+4</td>
      <td>+4</td>
      <td>Ranged legerdemain 2/day</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>6th</td>
      <td>+3</td>
      <td>+2</td>
      <td>+5</td>
      <td>+5</td>
      <td>Sneak attack +3d6</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>7th</td>
      <td>+3</td>
      <td>+2</td>
      <td>+5</td>
      <td>+5</td>
      <td>Impromptu sneak attack 2/day</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>8th</td>
      <td>+4</td>
      <td>+2</td>
      <td>+6</td>
      <td>+6</td>
      <td>Sneak attack +4d6</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>9th</td>
      <td>+4</td>
      <td>+3</td>
      <td>+6</td>
      <td>+6</td>
      <td>Ranged legerdemain 3/day</td>
      <td>+1 level of existing class</td>
    </tr>
    <tr>
      <td>10th</td>
      <td>+5</td>
      <td>+3</td>
      <td>+7</td>
      <td>+7</td>
      <td>Sneak attack +5d6</td>
      <td>+1 level of existing class</td>
    </tr>
  </tbody>
</table>
