<table>
  <thead>
    <tr>
      <td colspan=3>Table: Estimating Magic Item Gold Piece Values</td>
    </tr>
    <tr>
      <td>Effect</td>
      <td>Base Price</td>
      <td>Example</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ability bonus (enhancement)</td>
      <td>Bonus squared  x 1,000 gp</td>
      <td>Gloves of Dexterity +2</td>
    </tr>
    <tr>
      <td>Armor bonus (enhancement)</td>
      <td>Bonus squared  x 1,000 gp</td>
      <td>+1 chainmail</td>
    </tr>
    <tr>
      <td>Bonus spell</td>
      <td>Spell level squared  x 1,000 gp</td>
      <td>Pearl of power</td>
    </tr>
    <tr>
      <td>AC bonus (deflection)</td>
      <td>Bonus squared  x 2,000 gp</td>
      <td>Ring of protection +3</td>
    </tr>
    <tr>
      <td>AC bonus (other)1</td>
      <td>Bonus squared  x 2,500 gp</td>
      <td>Ioun stone, dusty rose prism</td>
    </tr>
    <tr>
      <td>Natural armor bonus (enhancement)</td>
      <td>Bonus squared  x 2,000 gp</td>
      <td>Amulet of natural armor +1</td>
    </tr>
    <tr>
      <td>Save bonus (resistance)</td>
      <td>Bonus squared  x 1,000 gp</td>
      <td>Cloak of resistance +5</td>
    </tr>
    <tr>
      <td>Save bonus (other)1</td>
      <td>Bonus squared  x 2,000 gp</td>
      <td>Stone of good luck</td>
    </tr>
    <tr>
      <td>Skill bonus (competence)</td>
      <td>Bonus squared  x 100 gp</td>
      <td>Cloak of elvenkind</td>
    </tr>
    <tr>
      <td>Spell resistance</td>
      <td>10,000 gp per point over SR 12; SR 13 minimum</td>
      <td>Mantle of spell resistance</td>
    </tr>
    <tr>
      <td>Weapon bonus (enhancement)</td>
      <td>Bonus squared  x 2,000 gp</td>
      <td>+1 longsword</td>
    </tr>
    <tr>
      <th>Spell Effect</th>
      <th>Base Price</th>
      <th>Example</th>
    </tr>
    <tr>
      <td>Single use, spell completion</td>
      <td>Spell level  x caster level  x 25 gp</td>
      <td>Scroll of haste</td>
    </tr>
    <tr>
      <td>Single use, use-activated</td>
      <td>Spell level  x caster level  x 50 gp</td>
      <td>Potion of cure light wounds</td>
    </tr>
    <tr>
      <td>50 charges, spell trigger</td>
      <td>Spell level  x caster level  x 750 gp</td>
      <td>Wand of fireball</td>
    </tr>
    <tr>
      <td>Command word</td>
      <td>Spell level  x caster level  x 1,800 gp</td>
      <td>Cape of the mountebank</td>
    </tr>
    <tr>
      <td>Use-activated or continuous</td>
      <td>Spell level  x caster level  x 2,000 gp2</td>
      <td>Lantern of revealing</td>
    </tr>
    <tr>
      <th>Special</th>
      <th>Base Price Adjustment</th>
      <th>Example</th>
    </tr>
    <tr>
      <td>Charges per day</td>
      <td>Divide by (5 divided by charges per day)</td>
      <td>Boots of teleportation</td>
    </tr>
    <tr>
      <td>Uncustomary space limitation3</td>
      <td>Multiply entire cost by 1.5</td>
      <td>Helm of teleportation</td>
    </tr>
    <tr>
      <td>No space limitation4</td>
      <td>Multiply entire cost by 2</td>
      <td>Ioun stone</td>
    </tr>
    <tr>
      <td>Multiple different abilities</td>
      <td>Multiply higher item cost by 2</td>
      <td>Helm of brilliance</td>
    </tr>
    <tr>
      <td>Charged (50 charges)</td>
      <td>1/2 unlimited use base price</td>
      <td>Ring of the ram</td>
    </tr>
    <tr>
      <th>Component</th>
      <th>Extra Cost</th>
      <th>Example</th>
    </tr>
    <tr>
      <td>Armor, shield, or weapon</td>
      <td>Add cost of masterwork item</td>
      <td>+1 composite longbow</td>
    </tr>
    <tr>
      <td>Spell has material component cost</td>
      <td>Add directly into price of item per charge5</td>
      <td>Wand of stoneskin</td>
    </tr>
    <tr>
      <td>Spell has XP cost</td>
      <td>Add 5 gp per 1 XP per charge5</td>
      <td>Ring of three wishes</td>
    </tr>
    <tr>
      <td>Spell Level: A 0-level spell is half the value of a 1st-level spell for determining price.</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </tfoot>
    <tr>
      <td>1 Such as a luck, insight, sacred, or profane bonus.</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2 If a continuous item has an effect based on a spell with a duration measured in rounds, multiply the cost by 4. If the duration of the spell is 1 minute/level, multiply the cost by 2, and if the duration is 10 minutes/level, multiply the cost by 1.5. If the spell has a 24-hour duration or greater, divide the cost in half.</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3 See Body Slot Affinities, below.</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4 An item that does not take up one of the spaces on a body costs double.</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>5 If item is continuous or unlimited, not charged, determine cost as if it had 100 charges. If it has some daily limit, determine as if it had 50 charges.</td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
