<table>
<tr>
  <th colspan=10>Table: The Assassin</th>
</tr>
<tr>
  <th rowspan=2>Level</th>
  <th rowspan=2>Base Attack Bonus</th>
  <th rowspan=2>Fort Save</th>
  <th rowspan=2>Ref Save</th>
  <th rowspan=2>Will Save</th>
  <th rowspan=2>Special</th>
  <th colspan=4>Spells per Day</th>
</tr>
<tr>
  <th>1st</th>
  <th>2nd</th>
  <th>3rd</th>
  <th>4th</th>
</tr>
<tr>
  <td>1st</td>
  <td>+0</td>
  <td>+0</td>
  <td>+2</td>
  <td>+0</td>
  <td>Sneak attack +1d6, death attack, poison use, spells</td>
  <td>0</td>
  <td>—</td>
  <td>—</td>
  <td>—</td>
</tr>
<tr>
  <td>2nd</td>
  <td>+1</td>
  <td>+0</td>
  <td>+3</td>
  <td>+0</td>
  <td>+1 save against poison, uncanny dodge</td>
  <td>1</td>
  <td>—</td>
  <td>—</td>
  <td>—</td>
</tr>
<tr>
  <td>3rd</td>
  <td>+2</td>
  <td>+1</td>
  <td>+3</td>
  <td>+1</td>
  <td>Sneak attack +2d6</td>
  <td>2</td>
  <td>0</td>
  <td>—</td>
  <td>—</td>
</tr>
<tr>
  <td>4th</td>
  <td>+3</td>
  <td>+1</td>
  <td>+4</td>
  <td>+1</td>
  <td>+2 save against poison</td>
  <td>3</td>
  <td>1</td>
  <td>—</td>
  <td>—</td>
</tr>
<tr>
  <td>5th</td>
  <td>+3</td>
  <td>+1</td>
  <td>+4</td>
  <td>+1</td>
  <td>Improved uncanny dodge, sneak attack +3d6</td>
  <td>3</td>
  <td>2</td>
  <td>0</td>
  <td>—</td>
</tr>
<tr>
  <td>6th</td>
  <td>+4</td>
  <td>+2</td>
  <td>+5</td>
  <td>+2</td>
  <td>+3 save against poison</td>
  <td>3</td>
  <td>3</td>
  <td>1</td>
  <td>—</td>
</tr>
<tr>
  <td>7th</td>
  <td>+5</td>
  <td>+2</td>
  <td>+5</td>
  <td>+2</td>
  <td>Sneak attack +4d6</td>
  <td>3</td>
  <td>3</td>
  <td>2</td>
  <td>0</td>
</tr>
<tr>
  <td>8th</td>
  <td>+6</td>
  <td>+2</td>
  <td>+6</td>
  <td>+2</td>
  <td>+4 save against poison, hide in plain sight</td>
  <td>3</td>
  <td>3</td>
  <td>3</td>
  <td>1</td>
</tr>
<tr>
  <td>9th</td>
  <td>+6</td>
  <td>+3</td>
  <td>+6</td>
  <td>+3</td>
  <td>Sneak attack +5d6</td>
  <td>3</td>
  <td>3</td>
  <td>3</td>
  <td>2</td>
</tr>
<tr>
  <td>10th</td>
  <td>+7</td>
  <td>+3</td>
  <td>+7</td>
  <td>+3</td>
  <td>+5 save against poison</td>
  <td>3</td>
  <td>3</td>
  <td>3</td>
  <td>3</td>
</tr>
</table>
