<table>
  <tr>
    <th colspan=10>Table: The Monk</th>
  </tr>
  <tr>
    <th>Level</th>
    <th>Base Attack Bonus</th>
    <th>Fort Save</th>
    <th>Ref Save</th>
    <th>Will Save</th>
    <th>Special</th>
    <th>Flurry of Blows Attack Bonus</th>
    <th>Unarmed Damage1</th>
    <th>AC Bonus</th>
    <th>Unarmored  Speed Bonus</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>+0</td>
    <td>+2</td>
    <td>+2</td>
    <td>+2</td>
    <td>Bonus feat, flurry of blows, unarmed strike</td>
    <td>–2/–2</td>
    <td>1d6</td>
    <td>+0</td>
    <td>+0 ft.</td>
  </tr>
  <tr>
    <td>2nd</td>
    <td>+1</td>
    <td>+3</td>
    <td>+3</td>
    <td>+3</td>
    <td>Bonus feat, evasion</td>
    <td>–1/–1</td>
    <td>1d6</td>
    <td>+0</td>
    <td>+0 ft.</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>+2</td>
    <td>+3</td>
    <td>+3</td>
    <td>+3</td>
    <td>Still mind</td>
    <td>+0/+0</td>
    <td>1d6</td>
    <td>+0</td>
    <td>+10 ft.</td>
  </tr>
  <tr>
    <td>4th</td>
    <td>+3</td>
    <td>+4</td>
    <td>+4</td>
    <td>+4</td>
    <td>Ki strike (magic), slow fall 20 ft.</td>
    <td>+1/+1</td>
    <td>1d8</td>
    <td>+0</td>
    <td>+10 ft.</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>+3</td>
    <td>+4</td>
    <td>+4</td>
    <td>+4</td>
    <td>Purity of body</td>
    <td>+2/+2</td>
    <td>1d8</td>
    <td>1</td>
    <td>+10 ft.</td>
  </tr>
  <tr>
    <td>6th</td>
    <td>+4</td>
    <td>+5</td>
    <td>+5</td>
    <td>+5</td>
    <td>Bonus feat, slow fall 30 ft.</td>
    <td>+3/+3</td>
    <td>1d8</td>
    <td>+1</td>
    <td>+20 ft.</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>+5</td>
    <td>+5</td>
    <td>+5</td>
    <td>+5</td>
    <td>Wholeness of body</td>
    <td>+4/+4</td>
    <td>1d8</td>
    <td>+1</td>
    <td>+20 ft.</td>
  </tr>
  <tr>
    <td>8th</td>
    <td>+6/+1</td>
    <td>+6</td>
    <td>+6</td>
    <td>+6</td>
    <td>Slow fall 40 ft.</td>
    <td>+5/+5/+0</td>
    <td>1d10</td>
    <td>+1</td>
    <td>+20 ft.</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>+6/+1</td>
    <td>+6</td>
    <td>+6</td>
    <td>+6</td>
    <td>Improved evasion</td>
    <td>+6/+6/+1</td>
    <td>1d10</td>
    <td>+1</td>
    <td>+30 ft.</td>
  </tr>
  <tr>
    <td>10th</td>
    <td>+7/+2</td>
    <td>+7</td>
    <td>+7</td>
    <td>+7</td>
    <td>Ki strike (lawful), slow fall 50 ft.</td>
    <td>+7/+7/+2</td>
    <td>1d10</td>
    <td>+2</td>
    <td>+30 ft.</td>
  </tr>
  <tr>
    <td>11th</td>
    <td>+8/+3</td>
    <td>+7</td>
    <td>+7</td>
    <td>+7</td>
    <td>Diamond body, greater flurry</td>
    <td>+8/+8/+8/+3</td>
    <td>1d10</td>
    <td>+2</td>
    <td>+30 ft.</td>
  </tr>
  <tr>
    <td>12th</td>
    <td>+9/+4</td>
    <td>+8</td>
    <td>+8</td>
    <td>+8</td>
    <td>Abundant step, slow fall 60 ft.</td>
    <td>+9/+9/+9/+4</td>
    <td>2d6</td>
    <td>+2</td>
    <td>+40 ft.</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>+9/+4</td>
    <td>+8</td>
    <td>+8</td>
    <td>+8</td>
    <td>Diamond soul</td>
    <td>+9/+9/+9/+4</td>
    <td>2d6</td>
    <td>+2</td>
    <td>+40 ft.</td>
  </tr>
  <tr>
    <td>14th</td>
    <td>+10/+5</td>
    <td>+9</td>
    <td>+9</td>
    <td>+9</td>
    <td>Slow fall 70 ft.</td>
    <td>+10/+10/+10/+5</td>
    <td>2d6</td>
    <td>+2</td>
    <td>+40 ft.</td>
  </tr>
  <tr>
    <td>15th</td>
    <td>+11/+6/+1</td>
    <td>+9</td>
    <td>+9</td>
    <td>+9</td>
    <td>Quivering palm</td>
    <td>+11/+11/+11/+6/+1</td>
    <td>2d6</td>
    <td>+3</td>
    <td>+50 ft.</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>+12/+7/+2</td>
    <td>+10</td>
    <td>+10</td>
    <td>+10</td>
    <td>Ki strike (adamantine), slow fall 80 ft.</td>
    <td>+12/+12/+12/+7/+2</td>
    <td>2d8</td>
    <td>+3</td>
    <td>+50 ft.</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>+12/+7/+2</td>
    <td>+10</td>
    <td>+10</td>
    <td>+10</td>
    <td>Timeless body, tongue of the sun and moon</td>
    <td>+12/+12/+12/+7/+2</td>
    <td>2d8</td>
    <td>+3</td>
    <td>+50 ft.</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>+13/+8/+3</td>
    <td>+11</td>
    <td>+11</td>
    <td>+11</td>
    <td>Slow fall 90 ft.</td>
    <td>+13/+13/+13/+8/+3</td>
    <td>2d8</td>
    <td>+3</td>
    <td>+60 ft.</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>+14/+9/+4</td>
    <td>+11</td>
    <td>+11</td>
    <td>+11</td>
    <td>Empty body</td>
    <td>+14/+14/+14/+9/+4</td>
    <td>2d8</td>
    <td>+3</td>
    <td>+60 ft.</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>+15/+10/+5</td>
    <td>+12</td>
    <td>+12</td>
    <td>+12</td>
    <td>Perfect self, slow fall any distance</td>
    <td>+15/+15/+15/+10/+5</td>
    <td>2d10</td>
    <td>+4</td>
    <td>+60 ft.</td>
  </tr>
  <tr>
    <td colspan=10>1 The value shown is for Medium monks. See Table: Small or Large Monk Unarmed Damage for Small or Large monks.</td>
  </tr>
</table>
