<table>
<tr>
  <th colspan=6>Table: The Arcane Archer</th>
</tr>
<tr>
  <th>Level</th>
  <th>Base Attack Bonus</th>
  <th>Fort Save</th>
  <th>Ref Save</th>
  <th>Will Save</th>
  <th>Special</th>
</tr>
<tr>
  <td>1st</td>
  <td>+1</td>
  <td>+2</td>
  <td>+2</td>
  <td>+0</td>
  <td>Enhance arrow +1</td>
</tr>
<tr>
  <td>2nd</td>
  <td>+2</td>
  <td>+3</td>
  <td>+3</td>
  <td>+0</td>
  <td><em>Imbue arrow</em></td>
</tr>
<tr>
  <td>3rd</td>
  <td>+3</td>
  <td>+3</td>
  <td>+3</td>
  <td>+1</td>
  <td>Enhance arrow +2</td>
</tr>
<tr>
  <td>4th</td>
  <td>+4</td>
  <td>+4</td>
  <td>+4</td>
  <td>+1</td>
  <td><em>Seeker arrow</em></td>
</tr>
<tr>
  <td>5th</td>
  <td>+5</td>
  <td>+4</td>
  <td>+4</td>
  <td>+1</td>
  <td>Enhance arrow +3</td>
</tr>
<tr>
  <td>6th</td>
  <td>+6</td>
  <td>+5</td>
  <td>+5</td>
  <td>+2</td>
  <td><em>Phase arrow</em></td>
</tr>
<tr>
  <td>7th</td>
  <td>+7</td>
  <td>+5</td>
  <td>+5</td>
  <td>+2</td>
  <td>Enhance arrow +4</td>
</tr>
<tr>
  <td>8th</td>
  <td>+8</td>
  <td>+6</td>
  <td>+6</td>
  <td>+2</td>
  <td><em>Hail of arrows</em></td>
</tr>
<tr>
  <td>9th</td>
  <td>+9</td>
  <td>+6</td>
  <td>+6</td>
  <td>+3</td>
  <td>Enhance arrow +5</td>
</tr>
<tr>
  <td>10th</td>
  <td>+10</td>
  <td>+7</td>
  <td>+7</td>
  <td>+3</td>
  <td><em>Arrow of death</em></td>
</tr>
</table>
