---
---

@import "{{ site.theme }}";

body {
  background-image: url("/assets/dungeon-floor.png");
}

/* headers are all blue and uppercase */
h2, h3, h4 {
  color: DarkSlateBlue;
  font-family: "Times New Roman", "Times", serif;  
}

h2, h3 {
  text-transform: uppercase;
}

/* second-level headers are specially stylized */
h2 {
  border-bottom: 2px solid DarkSlateBlue !important;
  text-align: right;
}

tr:nth-child(odd) {
  background-color: white;
}

a:active, a:hover, a:link {
  color: midnightBlue;
  text-decoration: underline dotted;
}

a:visited {
  color: Indigo;
  text-decoration: underline dotted;
}
