---
---

@import "{{ site.theme }}";

body {
  background-image: url("/assets/dungeon-floor.png");
}

/* headers are all blue and uppercase */
h2, h3, h4 {
  color: DarkSlateBlue;
  font-family: "Times New Roman", "Times", serif;  
}

h2, h3 {
  text-transform: uppercase;
}

/* second-level headers are specially stylized */
h2 {
  border-bottom: 2px solid DarkSlateBlue !important;
  text-align: right;
}

/*table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}*/

tr:nth-child(odd) {
  background-color: white;
}

a:active, a:hover, a:link, a:visited {
  color: black;
  text-decoration: underline dotted;
}

blockquote, .footer-col-wrapper, .post-meta {
  color: #727272;
}
